## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [2]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [229]:
len(string_01) - string_01.count(' ')

225

In [5]:
import regex as re

In [228]:
len(re.findall(r'.', string_01)) - len(re.findall(r'\s', string_01))

225

2. Посчитайте, сколько в строке слов.

In [15]:
len(re.findall(r'\w+', string_01))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [27]:
def words_start_whith(in_letter):
    reg_exp = r'\b'+in_letter+r'\w+'
    return re.findall(reg_exp, string_01, re.IGNORECASE)

In [28]:
words_start_whith('w')

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [169]:
import random

str_num = re.findall(r'\d', str(random.randint(10000, 99999)))
str_num.insert(random.randint(0, 5), '3')
str_num

['3', '6', '9', '0', '6', '6']

#### Задача 3

Дан список:

In [171]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [181]:
sum_100 = 0
sum_500 = 0
i = 0

list_01.sort()
list_elem = list_01[i]

while list_elem < 100:
    if list_elem > 10:
        sum_100 += list_elem
    i += 1
    list_elem = list_01[i]
while list_elem < 500:
    if list_elem > 200:
        sum_500 += list_elem
    i += 1
    list_elem = list_01[i]
print(f'Cсумма чисел от 10 до 100: {sum_100}')
print(f'Cсумма чисел от 200 до 500: {sum_500}')

Cсумма чисел от 10 до 100: 408
Cсумма чисел от 200 до 500: 883

#### Задача 4

Данные студентов представлены в виде списка списков:

In [219]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [220]:
students_dic = {}

for student in students:
    students_dic.update({student.pop(0):student})
students_dic

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [267]:
students_dic = {'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

In [268]:
def change_group(in_id, new_group):
    st = students_dic.pop(in_id)
    old_group = st.pop(4)
    st.append(new_group)
    students_dic.update({in_id:st})
    return f'Для студента {in_id} группа изменена с {old_group} на {new_group}'

In [269]:
print(change_group('0001', 'БСТ162'))
students_dic

Для студента 0001 группа изменена с БСТ161 на БСТ162

{'1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [324]:
def student_search(in_group):
    students = []
    
    for student_data in students_dic.values():
        student = []
        if student_data[4] == in_group:
            for i in [0, 1, 2]:
                student.append(student_data[i])
            students.append(" ".join(student))        
    return students

In [327]:
student_search('БСТ161')

['Степанова Наталья Александровна', 'Боков Игорь Харитонович']

#### Задача 5

Дана матрица:

In [344]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [338]:
elem_sums = 0

for elem in matrix:
    elem_sums +=sum(elem)
print(elem_sums)

89

второй вариант через numpy:

In [331]:
import numpy as np

In [336]:
np.sum(matrix)

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [365]:
elem_sums = []

for count_str, str_elem in enumerate(matrix):
    if count_str == 0:
        elem_sums.extend(str_elem)
    else:
        for count_elem, elem in enumerate(str_elem):
            elem_sums[count_elem] += elem
print(elem_sums)
print(f'Макcимальная сумма у столбца: {[i+1 for i, j in enumerate(elem_sums) if j == sorted(elem_sums)[-1]]}')

[18, 19, 17, 13, 22]
Макcимальная сумма у столбца: [5]