## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [54]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [58]:
len(string_01) - string_01.count(' ')

225

In [57]:
string_01.count(' ')

45

2. Посчитайте, сколько в строке слов.

In [59]:
list_words = string_01.split(' ')

In [60]:
list_words

['History',
 'is',
 'always',
 'written',
 'by',
 'the',
 'winners.',
 'When',
 'two',
 'cultures',
 'clash,',
 'the',
 'loser',
 'is',
 'obliterated,',
 'and',
 'the',
 'winner',
 'writes',
 'the',
 'history',
 'books',
 '-',
 'books',
 'which',
 'glorify',
 'their',
 'own',
 'cause',
 'and',
 'disparage',
 'the',
 'conquered',
 'foe.',
 'As',
 'Napoleon',
 'once',
 'said,',
 "'What",
 'is',
 'history,',
 'but',
 'a',
 'fable',
 'agreed',
 "upon?'"]

In [61]:
import re

In [62]:
list_words_2 = re.findall(r'\w+', string_01)

In [64]:
list_words_2

['History',
 'is',
 'always',
 'written',
 'by',
 'the',
 'winners',
 'When',
 'two',
 'cultures',
 'clash',
 'the',
 'loser',
 'is',
 'obliterated',
 'and',
 'the',
 'winner',
 'writes',
 'the',
 'history',
 'books',
 'books',
 'which',
 'glorify',
 'their',
 'own',
 'cause',
 'and',
 'disparage',
 'the',
 'conquered',
 'foe',
 'As',
 'Napoleon',
 'once',
 'said',
 'What',
 'is',
 'history',
 'but',
 'a',
 'fable',
 'agreed',
 'upon']

In [65]:
len(list_words_2)

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [66]:
def find_words_start_with(letter):
    for word in list_words_2:
        if word.startswith(letter.upper()) or word.startswith(letter.lower()):
            print(word)

In [67]:
find_words_start_with('w')

written
winners
When
winner
writes
which
What

In [ ]:
pattern = r'\b[' + letter.upper() + letter.lower() + ']\w+'

In [68]:
def find_words_2(letter):
    pattern = r'\b[' + letter.upper() + letter.lower() + ']\w+'
    list_words_3 = re.findall(pattern, string_01)
    print(list_words_3)

In [69]:
find_words_2('w')

['written', 'winners', 'When', 'winner', 'writes', 'which', 'What']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [70]:
import random

In [76]:
number = 0
while '3' not in str(number):
    number = random.randint(100003, 999993)
print(str(number))

730697

#### Задача 3

Дан список:

In [77]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [79]:
sum([x for x in list_01 if 10 < x < 100 or 200 < x < 500])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [80]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [81]:
students_dict = dict()
for student in students:
    students_dict[student[0]] = student[1:]

In [82]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [83]:
def change_group (student_number, new_group):
    students_dict[student_number][4] = new_group

In [84]:
change_group('0001', 'PY0621')

In [85]:
students_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'PY0621'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [86]:
def print_students (group):
    for student in students_dict.values():
        if student[4] == group:
            print(student[0], student[1], student[2])

In [87]:
print_students('БСТ162')

Богов Артем Игоревич
Сиропова Виолетта Эдуардовна

#### Задача 5

Дана матрица:

In [88]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [90]:
sum([sum(item) for item in matrix])

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [91]:
max(sum(item) for item in zip(*matrix))

22

In [92]:
print(matrix)

[[0, 1, 2, 4, 8], [6, 2, 2, 1, 9], [3, 3, 3, 3, 3], [4, 6, 7, 1, 2], [5, 7, 3, 4, 0]]

In [93]:
print(*matrix)

[0, 1, 2, 4, 8] [6, 2, 2, 1, 9] [3, 3, 3, 3, 3] [4, 6, 7, 1, 2] [5, 7, 3, 4, 0]

In [94]:
print(zip(*matrix))

<zip object at 0x7f83b3fc2b40>

In [95]:
for item in zip(*matrix):
    print(item)

(0, 6, 3, 4, 5)
(1, 2, 3, 6, 7)
(2, 2, 3, 7, 3)
(4, 1, 3, 1, 4)
(8, 9, 3, 2, 0)

In [96]:
[sum(item) for item in zip(*matrix)]

[18, 19, 17, 13, 22]

In [97]:
list_of_sums = list() #создаем список, в который запишем суммы столбцов
for i in range(len(matrix[0])): #в цикле нужно столько итераций, сколько всего столбцов. Число столбцов равно длине вложенного списка, все списки должны быть одной длины.
    sum_of_col = 0 #на каждой итерации цикла создаем переменную, в которой будем формировать сумму столбца
    for row in matrix:
        sum_of_col += row[i] #складываем в переменную i-й элемент каждой строки матрицы
    list_of_sums.append(sum_of_col) #добавляем сумму i-го столбца в список
print(max(list_of_sums)) #вычисляем максимум из значений списка с суммами столбцов

22